body {
    background-color: #222;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
    font-family: 'Arial', sans-serif;
}

.radio-container {
    background: #333;
    padding: 30px;
    border-radius: 40px;
    box-shadow: 10px 10px 0px #000;
    text-align: center;
    width: 300px;
    color: white;
}

.status-panel {
    background: #111;
    padding: 10px;
    border-radius: 10px;
    margin-bottom: 20px;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 10px;
}

#status-light {
    width: 12px;
    height: 12px;
    background: gray;
    border-radius: 50%;
}

.ptt-area { margin-top: 30px; }

#ptt-button {
    width: 150px;
    height: 150px;
    border-radius: 50%;
    border: 8px solid #444;
    background: radial-gradient(#ef4444, #b91c1c);
    color: white;
    cursor: pointer;
    box-shadow: 0 10px 0 #7f1d1d;
    transition: 0.1s;
}

#ptt-button:active {
    transform: translateY(5px);
    box-shadow: 0 5px 0 #7f1d1d;
    background: radial-gradient(#22c55e, #15803d); /* Se pone verde al hablar */
}

#ptt-button:disabled { background: #555; box-shadow: 0 5px 0 #333; cursor: not-allowed; }

input {
    width: 80%;
    padding: 10px;
    margin: 10px 0;
    border-radius: 5px;
    border: none;
}